.container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 40%;
}

.grill{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}